* { 
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    
    }
    .padre{
        display: flex;
        flex-flow: column nowrap;
    
    }
    
        .header {
            background: #000;
            display: flex;
            flex-flow: column nowrap;
        }   
    
            .menu{
                background: #5584AC;
                display: flex;
                flex-flow: row nowrap;
                height: 100px;
                align-items: center;
           
            }
    
                .logo{
                    background: #C84B31 ;
                    flex: 1 1 auto;
                    height: 50px;
                }
    
                .nav{
                    background: #C84B31;
                    flex: 5 1 auto;
                    height: 50px;
                    
                }
                
                .social{
                    background: #C84B31;
                    flex: 1 1 auto ;
                    height: 50px;
                
                }
                
                
            .texto{
                background: #FABB51 ;
            }
                .h1{
                    background: #000 ;
                }
    
        .section{
            background: #000;
            display: flex;
        }
             .articulos{
                 background: #5584AC;
                 flex: 2 1 auto;
                 display: flex;
                 flex-flow: row wrap ;
                }
                    .article{
                        background: #96c0e5;
                        flex: 1 1 40%;
                        
                    }
             
                    .navegacion{
                        background: #064663;
                        flex: 1 1 100%;
             }    
             .aside{
                 background: #C84B31;
                 flex: 1 1 auto;
             }
                     .publicidad{
                        background: #cec224;
    
                     }
    
        .footer{
            background: #000;
            display: flex;
            justify-content: center;
        }
            .pie{
                background-color: #FABB51;
                width: 300px;
                
            }

        

               
@media all and (max-width: 800px){
/*  Formato Tablet */
    .section{
        flex-direction: column;

    }

    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }

}
@media all and (max-width: 600px)  {
 /*  Formato Movil */
    .articulos{
        flex-direction: column ;
    }

}         
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }

}